---
const {
    label,
    name,
    type = 'text',
    id,
    value = '',
    placeholder = '',
    required = false,
    error = '',
} = Astro.props;
---

<div class='flex flex-col mb-4'>
    <label for={id} class='font-montserrat font-semibold mb-1'>{label}</label>
    <input
        type={type}
        name={name}
        id={id}
        value={value}
        placeholder={placeholder}
        required={required}
        class='border border-slate-300 p-2 rounded-md placeholder:text-slate-400 placeholder:italic focus:outline-black'
    />
    {error && <p class='text-red-500 text-sm mt-1'>{error}</p>}
</div>
